@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

.title {
  color: white;
}

.sub-title {
  font-size: 40px;
  font-weight: 300;
}

.login {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgb(0, 0, 0)), url(img/home.webp);
  background-size: cover;
  background-position: center;
}

.btn-floating i {
  font-size: 25px;
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}