@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.divider:after, .divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

/* Footer */
.footer {
  background-color: #33584c;
  padding: 20px 0;
  color: white;
}

.footer .footer-logo img {
  width: 120px;
  height: auto;
}

.footer .social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 18px;
  text-decoration: none;
}

.footer .social-icons a:hover {
  color: #ffc107;
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}